/************************************************************************************************************************** 
***************************************************** General Style *******************************************************
***************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
}



html, body {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(#38368b, #c6087b);
    z-index: 1;
}

body * {
    z-index: 2;
}

h1, h2, h3, li {
    font-family: "DPComic";
}

h1 {
    margin: 2em 2em 0 0;
    font-size: 3em;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FD9E26;
}

ul {
    text-align: center;
    list-style-type: none;
    height: max-content;
}

ul li {
    margin: 13% 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

main {
    display: flex;
    justify-content: space-between;
}


/************************************************************************************************************************** 
***************************************************** Navigation *******************************************************
***************************************************************************************************************************/
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 20vw;
    height: 96vh;
    padding: 1% 0;
    background-color: #33012A;
    border: 1px solid #7C4772;
}

nav a {
    width: 100%;
}

#retropadLogo {
    width: 60%;
}

.nav {
    font-style: normal;
    font-weight: 400;
    font-size: 2.3em;
    line-height: 50px;
}

#home {
    -webkit-text-stroke: 1px #FFFF01;
}

#profiles {
    -webkit-text-stroke: 1px #FD9E26;
}

#settings {
    -webkit-text-stroke: 1px #FD5643;
}

#soundlibrary {
    -webkit-text-stroke: 1px #FE1B66;
}

#rasberry {
    width: 25%;
}



.settings{
    flex-grow: 1;
}

.soundlibrary{

}

video {
    height: 100vh;
    width: 80vw;
    object-fit: cover;
    position: fixed;
    left: 318px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

video {
left: 21vw;
}

nav {
height: 97vh;
}


/**************************************************************************************************************************
***************************************************** Contenue *******************************************************
***************************************************************************************************************************/


.Bar{
    display: flex;
    position: absolute;
    right: 2vw;
    bottom: 2VH;
}


.textbar1{
background: #33012A;
border-radius: 25px;
width: auto;
height: 8VH;
top: 52VH;
position: absolute;
text-align: center;
font-family: 'DPComic';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;
color: #FFFFFF;
border: 1px solid #F95449;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
RIGHT: 120VH;
}
.textbar2{
background: #33012A;
border-radius: 25px;
width: auto;
height: 8VH;
top: 52VH;
position: absolute;
text-align: center;
font-family: 'DPComic';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;
color: #FFFFFF;
border: 1px solid #F95449;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
right: 68VH;
}
.textbar3{
background: #33012A;
border-radius: 25px;
width: auto;
height: 8VH;
top: 52VH;
position: absolute;
text-align: center;
font-family: 'DPComic';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;
color: #FFFFFF;
border: 1px solid #F95449;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
RIGHT: 8VH;
}
.ContourBar >p{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 35px;

align-items: center;
text-align: justify;

color: #FFFFFF;
}
.ContourBar{
    flex-grow: 1;
box-sizing: border-box;
width: 350px;
height: 65vh;
background: rgba(124, 71, 114, 0.7);
border: 3px solid #FFFF07;
border-radius: 25px;
    margin: 2vh;
    padding: 2VH;
}

/**************************************************************************************************************************
***************************************************** ProfilPage *******************************************************
***************************************************************************************************************************/
.ContainerText{
    display: flex;
    position: absolute;
    right: 2vw;
    bottom: 2VH;
}

.ItemText{

background: rgba(27, 170, 239, 0.8);
border-radius: 25px;
    font-family: 'DPComic';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 95px;

color: #FFFFFF;

border: 1px solid #F95449;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2vh;
padding: 1VH;
}

.imgcontainertext1{
    position: absolute;
top: -54vh;
width: 400px;
left: -5VH;
}

.imgcontainertext2{
width: 400px;
top: -52VH;
position: absolute;
right: 44vh;
}

.imgcontainertext3{
position: absolute;
top: -54vh;
width: 400px;
left: 90VH;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}


/**************************************************************************************************************************
***************************************************** POPUP *******************************************************
***************************************************************************************************************************/

.popup{
justify-content: center;
align-items: center;
padding: 19px 0px;
gap: 7px;
position: absolute;
width: 394px;
height: 600px;
background: rgba(239, 34, 73, 0.7);
border: 1px solid #00s0000;
border-radius: 25px;
right: 51vh;
top: -18VH;
}

.buttonclose{


background: #33012A;
border-radius: 25px;
position: absolute;
font-family: 'DPComic';
font-style: normal;
font-weight: 400;
font-size: 47px;
line-height: 50px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    right: 25VH;
}

.TEXTPOPUP{
width: 329px;
height: 64px;
font-family: 'DPComic';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
BOTTOM: -9VH;
position: relative;
right: -5vh;

color: #FFFFFF;

}