/**************************************************************************************************************************
***************************************************** Profile1 *******************************************************
***************************************************************************************************************************/
#profilesBox{
    display: grid; 
    grid-template-areas: 
        "title"
        ". ";
    width: 75vw;
}

.title {
    grid-area: title;
    text-align: end;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



#profilesBox img {
    width: 38vw;
}

