/**************************************************************************************************************************
***************************************************** ProfilPage *******************************************************
***************************************************************************************************************************/
#profilesBox{
    display: flex;
}

.ItemText{

background: rgba(27, 170, 239, 0.8);
border-radius: 25px;
    font-family: 'DPComic';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 95px;

color: #FFFFFF;

border: 1px solid #F95449;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2vh;
padding: 1VH;
}

#profilesBox img {
    width: 400px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}