/**************************************************************************************************************************
***************************************************** ProfilPage *******************************************************
***************************************************************************************************************************/
#profilesBox{
    display: grid; 
    grid-template-areas: 
        "title title title"
        ". . ."; 
    width: 75vw;
    align-items: center;
}

.title {
    grid-area: title;
    text-align: end;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ItemText {
    padding: 5px 15px;
    background: rgba(27, 170, 239, 0.8);
    border-radius: 25px;
    font-family: 'DPComic';
    font-size: 75px;
    color: #FFFFFF;
    border: 1px solid #F95449;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profilesBox img {
    width: 21vw;
}

#image3 {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}